<div class="row">
    <div class="col-lg-4 offset-lg-4 col-md-4 col-sm-6" style="margin-top: 7%; margin-bottom: 7%;">
        <div class="card text-white bg-danger mb-3" style="height: 200px;">
            <div class="card-body">
              <h5 class="card-title border-bottom pb-2">Ошибка доступа</h5>
              <p class="card-text mt-4">Вы не обладаете правами администратора.</p>
              
            </div>
            <div class="card-footer text-muted">
                <small class="text-white">
                    Войти в качестве администратора <a class='ml-2' href="{% url 'login' %}">Войти</a>
                </small>
            </div>
          </div>
    </div>
</div>