{% load static %}
<div class="row mt-4">
<div class="container mb-4">
        <h1 class="text-center">Основные направления деятельности</h1>
        <p class="text-muted text-center">Туроператор с 2005 года</p>
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="card text-center h-100 bg-primary">
                        <img class="size-60 mt-20 mx-auto d-block" src="{% static 'mainapp/content/about/traveller.png' %}" alt="traveller">
                        <div class="card-body">
                            <h6 class="text-white">Приём и обслуживание российских и иностранных туристов в Пскове и Псковской области.</h6>
                        </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="card text-center h-100 bg-primary">
                    <img class="size-60 mt-20 mx-auto d-block" src="{% static 'mainapp/content/about/tours.png' %}" alt="tours"> 
                    <div class="card-body">
                        <h6 class="text-white">Разработка индивидуальных экскурсионных программ.</h6>
                    </div>
                </div> 
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="card text-center h-100 bg-primary">
                    <img class="size-60 mt-20 mx-auto d-block" src="{% static 'mainapp/content/about/tour-bus-icon.jpg' %}" alt="tour-bus-icon">
                    <div class="card-body">
                        <h6 class="text-white">Организация автобусных туров для групп и индивидуальных туристов в Эстонию, Латвию, Литву.</h6>
                    </div>  
                </div>     
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="card text-center h-100 bg-primary">
                    <img class="size-60 mt-20 mx-auto d-block" src="{% static 'mainapp/content/about/visa-green-card.png' %}" alt="visa-green-card">
                    <div class="card-body">
                        <h6 class="text-white">Оформление виз, страховок, «зелёных карт».</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
