{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
<div class="row" style="background: #367af7;">
    <div class="container pt-4">
        <h3 class="text-center text-white text-uppercase service-title">Туристическое агентство BUSTRAVEL<br>радо приветствовать Вас на нашем сайте</h3>
        <p class="text-white text-justify pt-4">Мы с удовольствием организуем Вам экскурсионное обслуживание на Псковской земле по нашим многочисленным программам. Мы уверены, что здесь Вы найдёте много полезной информации об экскурсионных турах по Эстонии, Латвии, Литве, Скандинавии и России.</p>
        <h4 class="text-white">Основные направления нашей деятельности</h4>
        <div class="mt-3">
            <div class="row p-3 border rounded bg-light mb-3">
                <div class="col-1">
                    <i class="fas fa-users fa-3x"></i>
                </div>
                <div class="col-10">
                    <h5 class="pt-2">Приём и обслуживание российских и иностранных туристов в Пскове и Псковской области.</h5>
                </div>
            </div>
            <div class="row p-3 border rounded bg-light mb-3">
                <div class="col-1">
                    <i class="fas fa-route fa-3x"></i>
                </div>
                <div class="col-10">
                    <h5 class="pt-2">Разработка индивидуальных экскурсионных программ.</h5>
                </div>
            </div>
            <div class="row p-3 border rounded bg-light mb-3">
                <div class="col-1">
                    <i class="fas fa-bus fa-3x"></i>
                </div>
                <div class="col-10">
                    <h5 class="pt-2">Организация автобусных туров для групп и индивидуальных туристов в Эстонию, Латвию, Литву.</h5>
                </div>
            </div>
            <div class="row p-3 border rounded bg-light mb-3">
                <div class="col-1">
                    <i class="fab fa-cc-visa fa-3x"></i>
                </div>
                <div class="col-10">
                    <h5 class="pt-2">Оформление виз, страховок, «зелёных карт».</h5>
                </div>
            </div>
        </div>
        
    </div>
</div>
{% endblock content %}