{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
<div class="row" id="bg-visa">
    <div class="container mt-5 mb-5">
        <div class="text-center">
            <h1 class="text-uppercase service-title">Оформление шенгенских виз</h1>
        </div>
        <div class="mt-5 card">
            <div class="card-body">
                <p class="card-text text-justify" style="font-size: 12pt;">
                    Для того, чтобы поехать в страны Шенгенского соглашения, Великобританию, США, Канаду, Китай, Индию, Шри Ланку, Мексику, Сингапур и многие другие государства, граждане России должны предварительно оформить визу в соответствующем посольстве, консульстве или визовом центре. В зависимости от целей поездки вам будет нужна транзитная, туристическая, учебная или долгосрочная виза. Типы виз и правила оформления документов сильно меняются в каждом случае.
                </p>
                <p>
                    Специалисты нашего туристического агентства с радостью проконсультируют и помогут Вам в оформлении визы для выбранного путешествия.
                </p>
                <a class="btn btn-primary btn-lg" href="#" role="button" data-toggle="collapse" data-target="#visaDetails" aria-expanded="false" aria-controls="visaDetails">Подробнее</a>
                <div class="collapse mt-3" id="visaDetails">
                    <div class="card card-body bg-light">
                        <h4>Шенгенская виза</h4>
                        <p>
                            Для подачи документов на оформления визы в консульских учреждениях и визовом центре г.Пскова с целью посещения
                            <strong>Латвии</strong>, <strong>Эстонии</strong>, <strong>Литвы</strong>, <strong>Польши</strong>, <strong>Чехии</strong>, <strong>Франции</strong>, <strong>Нидерландов</strong>, <strong>Словении</strong>, <strong>Испании</strong> необходимо иметь следующие документы:
                        </p>
                        <ul>
                            <li>
                                <strong class="text-uppercase">заграничный паспорт</strong>
                                <p>Паспорт должен быть действителен не менее 3 месяцев после окончания действия визы, и в паспорте должно быть не менее 2 незаполненных страниц</p>
                            </li>
                            <li>
                                <strong class="text-uppercase">предыдущий заграничный паспорт (при наличии)</strong>
                                <p>с визами за последние три года</p>
                            </li>
                            <li>
                                <strong class="text-uppercase">ксерокопия паспорта рф</strong>
                                <p>Первая страница с фотографией и прописка, 18-19 стр. паспорта</p>
                            </li>
                            <li>
                                <strong class="text-uppercase">две цветные фотографии</strong>
                                <p>На белом фоне 3,5 х 4,5 см. (70-80% лица)</p>
                            </li>
                            <li>
                                <strong class="text-uppercase">справка о доходах</strong>
                                <ul>
                                    <li>с места работы по форме 2НДФЛ или на бланке фирмы с исходящим номером, датой выдачи, указанием должности и доходности за последние 3 месяца</li>
                                    <li>банковская выписка со счёта (за последние 3 месяца с остатком)</li>
                                    <li>спонсорское письмо + справка о доходах спонсора <strong>(для студентов, домохозяек и неработающих граждан)</strong></li>
                                </ul>
                            </li>
                        </ul>
                        <h5>Дополнительно для граждан до 18 лет</h5>
                        <ul>
                            <li>Ксерокопия свидетельства о рождении</li>
                            <li>Спонсорское письмо + ксерокопия паспорта и справка о доходах от спонсора</li>
                            <li>
                                Нотариально заверенное разрешение на выезд
                                <ul>
                                    <li class="font-italic">выезжающие с одним из родителей должны иметь нотариально заверенное разрешение на выезд в шенгенскую зону от второго (в котором указано кто несет ответственность за несовершеннолетних за границей)</li>
                                    <li class="font-italic">выезжающие без родителей должны иметь нотариально заверенное разрешение на выезд в шенгенскую зону от обоих родителей (в котором указано кто несет ответственность за несовершеннолетних за границей)</li>
                                </ul>
                            </li>
                            <li>
                                Ксерокопию загранпаспорта родителей (страница с фотографией и виза)
                                <p class="font-italic">(в случае если несовершеннолетний выезжает с одним или с двумя родителями, у которых есть действующая шенгенская виза)</p>
                            </li>
                            <li>В случае если нет второго родителя, необходимо предоставить документ подтверждающий отсутствие второго родителя</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="container mt-5 mb-5">
        <div class="text-center">
            <h1 class="text-uppercase service-title">Оформление медицинской страховки для шенгенской визы</h1>
        </div>
        <div>
            <p class="text-muted text-justify pt-4">
                Оформление визы и въезд в страны Шенгенской зоны возможен только при наличии действующей медстраховки. Если вы отправляетесь в путешествие с компанией друзей или семьей, вы можете оформить один страховой полис, в который будет вписан каждый застрахованный. Наличие документа является обязательным требованием для получения положительного ответа от визового центра. Страховка защитит вас от значительных расходов, связанных с получением квалифицированной медицинской помощи за границей.
            </p>
            <a class="btn btn-primary btn-lg" href="#" role="button" data-toggle="collapse" data-target="#insuranceDetails" aria-expanded="false" aria-controls="insuranceDetails">Подробнее</a>
            <div class="collapse mt-3" id="insuranceDetails">
                <div class="card card-body bg-light">
                    <h5>Чтобы приобрести страховку для шенгенской визы, необходимо указать следующие данные:</h5>
                    <div class="row pt-3">
                        <div class="col-xs-2 col-sm-1">
                            <i class="far fa-calendar-alt fa-2x"></i>
                        </div>
                        <div class="col-xs-10 col-sm-8">
                            <p>
                                <strong>Даты поездки</strong>
                            </p>
                            <p>
                                Укажите точные даты поездки или количество дней пребывания. Согласно Визовому кодексу стран Шенгена, мы увеличиваем срок страхования на 15 дней на случай, если даты поездки изменятся. Количество застрахованных дней и стоимость полиса при этом не возрастают.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2 col-sm-1">
                        <i class="fa fa-2x fa-globe"></i>
                        </div>
                        <div class="col-xs-10 col-sm-8">
                            <p>
                                <strong>Территория страхования</strong>
                            </p>
                            <p>
                                Выберите страну прибытия (в полисе указывается территория въезда – Шенген).
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2 col-sm-1">
                     <i class="fa fa-2x fa-bullseye"></i>
                        </div>
                        <div class="col-xs-10 col-sm-8">
                            <p>
                                <strong>Цель поездки</strong>
                            </p>
                            <p>
                                Это может быть обучение, лечение, переезд на постоянное место жительства и т. д.;
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2 col-sm-1">
                     <i class="fa fa-2x fa-wrench"></i>
                        </div>
                        <div class="col-xs-10 col-sm-8">
                            <p>
                                <strong>Профессия и род деятельности</strong>
                            </p>
                            <p>
                                Данные пункты заполняются, если выезд за рубеж связан с рабочим целями;
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2 col-sm-1">
                     <i class="fa fa-2x fa-futbol"></i>
                        </div>
                        <div class="col-xs-10 col-sm-8">
                            <p>
                     <strong>Вид спорта и/или тип спортивных состязаний</strong>
                            </p>
                            <p>
                                 Страховой полис для шенгенской визы обязательно должен включать указание активных видов отдыха и спортивных мероприятий, в которых вы планируете участвовать.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2 col-sm-1">
                     <i class="fa fa-2x fa-birthday-cake"></i>
                        </div>
                        <div class="col-xs-10 col-sm-8">
                            <p>
                     <strong>Дата рождения</strong>
                            </p>
                        </div>
                    </div>
                    <p class="text-justify pt-5">Если вы оформляете многократную визу, купите страховку на несколько поездок (например, годовую страховку шенген). Вам не придется для каждого путешествия оформлять новый медицинский полис.</p>
                    <div class="text-justify border rounded bg-primary text-white p-3">
                        Оформляя полис, помните, что вы в первую очередь страхуете свою жизнь и здоровье, а не просто готовите бумагу для уполномоченных органов. В Европе дорогая медицина. Если вам потребуется помощь специалиста, не предусмотренная программой страхования, то оплачивать счета придется из собственных средств. Страховая компания несет ответственность только в объеме, предусмотренном в договоре.
                    </div>
                    <div class="mt-4">
                        <h4>Риски, которые покрывает медицинская страховка</h4>
                        <p>Перечень рисков, покрываемых медицинской страховкой, зависит от выбранного страхового продукта</p>
                        <p>Во все программы входит покрытие следующих рисков:</p>
                        <ul>
                            <li>экстренной врачебной помощи, в том числе стоматологической;</li>
                            <li>транспортировки в стационар по показаниям;</li>
                            <li>оплаты медицинских расходов;</li>
                            <li>оплаты срочных сообщений;</li>
                            <li>транспортных расходов (возвращения после госпитализации, эвакуации детей).</li>
                        </ul>
                        <p>Дополнительно страховка для шенгенской визы может включать следующие риски:</p>
                        <ul>
                            <li><b>возраста застрахованного лица.</b> Для детей при расчете применяется повышающий коэффициент;</li>
                            <li><b>суммы покрытия, указанной в договоре.</b> Чем она выше, тем дороже полис;</li>
                            <li><b>срока действия полиса.</b> От того, будете ли вы оформлять документ на 1 день, на 30 дней или на год, напрямую зависит, сколько будет стоить страховка для шенгенской визы;</li>
                            <li><b>перечня включенных рисков.</b> Расширенные программы страхования всегда дороже, но они позволяют предусмотреть почти все самые распространенные ситуации, когда туристу за рубежом требуется медицинская помощь.</li>
                        </ul>
                    </div>
                    <div>
                        <h4>Стоимость медицинской страховки</h4>
                        <p>Цена полиса медицинского страхования для шенгенской визы зависит от нескольких факторов:</p>
                        <ul>
                            <li><b>возраста застрахованного лица.</b> Для детей при расчете применяется повышающий коэффициент;</li>
                            <li><b>суммы покрытия, указанной в договоре.</b> Чем она выше, тем дороже полис;</li>
                            <li><b>срока действия полиса.</b> От того, будете ли вы оформлять документ на 1 день, на 30 дней или на год, напрямую зависит, сколько будет стоить страховка для шенгенской визы;</li>
                            <li><b>перечня включенных рисков.</b> Расширенные программы страхования всегда дороже, но они позволяют предусмотреть почти все самые распространенные ситуации, когда туристу за рубежом требуется медицинская помощь.</li>
                        </ul>
                    </div>
                </div>
                                
            </div>
            
        </div>
    </div>
</div>
{% endblock %}