{% extends 'mainapp/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row" id="sign-in">
    <div class="container" style="margin-top: 5%; margin-bottom: 5%;">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-auto section bg-light">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class='form-group'>
                        <legend class='border-bottom mb-4'>Вход</legend>
                        {{ form|crispy }}
                    </fieldset>
                    <div class='form-group'>
                        <button class='btn btn-outline-info' type="submit">Войти</button>
                        <small class="text-muted ml-2">
                            <a href="#">Забыли пароль?</a>
                        </small>
                    </div>
                </form>
                <div class="border-top pt-3">
                    <small class="text-muted">
                        Ещё не зарегистрированы? <a class='ml-2' href="{% url 'register' %}">Зарегистрироваться</a>
                    </small>
                </div>
            </div>
        </div>
        
    </div>
</div>
{% endblock content %}